---
layout: null
---

<!doctype html>
<html ng-app="bcmApp">
<head>
	<title ng-bind="title + ' - BeCoinMaker'">BeCoinMaker</title>

	{% include head.html %}

	<base href="/">

	<link rel="stylesheet" href="/assets/css/angular-tooltips.css">
	<link rel="stylesheet" href="/assets/css/app.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
	<script src="/js/angular-tooltips.js"></script>
	
	<script type="text/javascript">
		var data = {{ site.data.data | jsonify }};

		data.usagesFlatted = {};
		for (var category in data.usages) {
			for (var i in data.usages[category]) {
				var item = data.usages[category][i];
				item.category = category;
				data.usagesFlatted[item.name] = item;
			}
		}

		var currencies = {{ site.data.currencies | jsonify }};
	</script>
	<script src="/js/app.js"></script>

</head>
<body ng-class="page">
	<header>
		<div class="mask"></div>
		
		{% include logo.html %}

		<nav class="gnb">
			<ul class="container clearfix">
				<li ng:class="location == '/step1' && 'selected'">시작하기 앞서</li>
				<li ng:class="location == '/step2' && 'selected'">코인 설정</li>
				<li ng:class="location == '/step3' && 'selected'">코인 생성</li>
				<li ng:class="location == '/step4' && 'selected'">ICO 진행</li>
			</ul>
		</nav>
	</header>

	<div id="view" ng-view></div>
	
	{% include foot.html %}
</body>
</html>