@charset "utf-8";
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0; outline:none;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/* end of normalize.css */

/* global setting */
html,body{ margin: 0; padding: 0; }

html, body, pre{
	font-family: 'Nanum Square', 'NanumSquare', sans-serif;
}
a{ outline: none; }

/*code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}*/
.clearfix{ *zoom:1 }
.clearfix:after{ display:block; clear:both; content:"" }
.fl{ float:left }
.fr{ float:right }
.bold{ font-weight: bold }
.hidden{ visibility: hidden }
.hidden2{ display: none }

.centered{ text-align: center; }

.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

button.white-btn{
	width: 206px;
	padding: 14px 0 13px;
	text-align: center;

	border: solid 2px #138891;
	border-radius: 8px;
	background-color: #ffffff;

	font-size: 19px;
	color: #138891;
	/*font-weight: bold;*/
	outline: none;
	transition: all 0.5s;
	text-decoration: none;
}
button.white-btn:hover{
	background-color: #138891;
	color: white;
}
button.white-btn.bordered:hover{
	border-color: white;
}



button.primary-btn{
	width: 206px;
	padding: 14px 0 13px;
	text-align: center;

	border: solid 2px #138891;
	border-radius: 8px;
	background-color: #138891;

	font-size: 19px;
	color: white;
	outline: none;
	transition: all 0.5s;
	text-decoration: none;
}
button.primary-btn:hover{
	background-color: white;
	color: #138891;
}


button.small{
	width: 140px;
	padding: 10px 0 9px;
	font-size: 17px;
}




/* Common */
header{
	position: relative;
	width: 100%;
	height: 116px;
	color: white;
	background-image: url('../image/bg.jpg');
	background-size: cover;
	z-index: 10;
}

header .mask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 136, 145, 0.9);
	z-index: 1;
}

header .container{
	position: relative;
	top: 0;
	z-index: 2;
}

header .logo-wrap{
	padding: 21px 0;
}

header .logo-wrap a{ display: inline-block; outline: none; }

header .logo{
	width: 185px;
	height: 36px;
	background-image: url('../image/logo.png');
	background-size: 185px auto;
}

header nav.gnb{
	position: relative;
	background-color: white;

	height: 38px;

	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;

	font-size: 16px;
	color: #585858;

	z-index: 3;
}

header nav.gnb ul{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	
}
header nav.gnb ul:after{ clear: both; display: block; content: "" }

header nav.gnb ul li{
	position: relative;
	float: left;
	/*width: 125px;*/
	padding: 11px 10px 5px;
	margin-right: 25px;
	text-align: center;
}
header nav.gnb ul li.selected{
	color: #138891;
	font-weight: normal;
	border-bottom: 4px solid #138891;
}
header nav.gnb ul li:after{
	position: absolute;

	font-family: Font Awesome\ 5 Free;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	text-rendering: auto;
	line-height: 1;

	content: "\f054";
	right: -17px;
	color: #bebebe;
}
header nav.gnb ul li:last-child:after{ display: none; }

header nav.gnb ul li span{

}



section.common{
	padding-top: 65px;
	padding-bottom: 10px;
}

section.common > h2,
section.common > .container > h2{
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 10px 0;
}

section.common > p,
section.common > .container > p{
	font-size: 16px;
	font-weight: lighter;
	margin: 0;
	padding: 0 0 10px 0;
	line-height: 1.56;
}

section.common > p.sub,
section.common > .container > p.sub{ font-size: 14px }

footer{
	background-color: #F0F0F0;
	color: #B0B0B0;
	font-size: 14px;
	padding: 30px 0 35px;
	margin-top: 50px;
}

footer .logo{
	width: 185px;
	height: 36px;
	background-image: url('../image/logo_grey.png');
	background-size: 185px auto;
	margin-bottom: 5px;
}


/* Selectable Tile */
.s-tile{
	position: relative;
	color: #585858;
	background-color: #e8e8e8;
	font-size: 13px;
	cursor: pointer;
	transition: all 0.5s;
	box-sizing: border-box;
}
.s-tile:hover{ background-color: #ddd; }
.s-tile.selected{ background-color: #138891; color: white; }
.s-tile.disabled{ background-color: #585858; color: white; cursor: default; }

.s-tile.not-btn{
	cursor: default;
}
.s-tile.not-btn:hover{ background-color: #e8e8e8 }
.s-tile.not-btn.selected:hover{ background-color: #138891 }
.s-tile.not-btn.disabled:hover{ background-color: #585858 }


.s-tile strong,
.s-tile h5{
	font-size: 17px;
	font-weight: normal;
	color: black;
}
.s-tile h5,
.s-tile pre,
.s-tile p{ margin: 0 0 4px; padding: 0; }

.s-tile.selected strong,
.s-tile.selected h5,
.s-tile.disabled strong,
.s-tile.disabled h5{ color: white; }

.s-tile .error{
	/*display: none;*/
	background-color: #620101;
	color: white;
	font-size: 13px;
	font-weight: lighter;
	padding: 6px 10px 7px;
	margin-top: -5px;

	position: absolute;
	box-sizing: border-box;
	width: inherit;
}

.s-tile.type-l .icon{
	position: absolute;
	width: 80px;
	height: 70px;
	padding: 0 25px;
	text-align: center;
	top: 50%;
	margin-top: -35px;
	font-size: 70px;
}
.s-tile.type-l .content{
	padding: 20px 20px 20px 0;
	margin-left: 130px;
	min-height: 40px;
	text-align: justify;
}

.s-tile.type-t .icon{
	padding: 40px 0 5px;
	text-align: center;
	font-size: 70px;
}
.s-tile.type-t .content{
	padding: 20px 20px;
	text-align: center;
}


.s-tile.type-m{
	width: 160px;
	height: 110px;

	font-weight: lighter;
	padding: 11px 12px;
	margin: 0 15px 28px 0;
}
.s-tile.type-m p{
	margin: 0 0 4px;
	padding: 0;
}
.s-tile.type-m .icon{
	text-align: center;
	font-size: 44px;
	margin: 6px 0;
}

ul.s-tile-container{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.s-tile-container:after{ clear: both; content: ""; display: block; }

ul.s-tile-container li{
	float: left;
}
ul.s-tile-container li:last-child .s-tile{ margin-right: 0 }



/* progress bar and text */
.progress{
	width: 600px;
	margin: 50px auto 16px;
}

.progress .texts{
	font-size: 16px;
}
.progress .texts .fl{ color: #138891; font-weight: bold; }
.progress .texts .fr{ color: #000; }

.progress .bar{
	position: relative;
	height: 8px;
	margin-top: 5px;
	margin-bottom: 9px;
}
.progress .bar > div{
	position: absolute;
	top: 0;
	width: 100%;
	height: inherit;
	border-radius: 5px;
}
.progress .bar > div.progressed{
	background-color: #138891;
	width: 0;
	z-index: 2;
}
.progress .bar > div.bg{
	background-color: #ededed;
	z-index: 1;
}


/* common form */


ul.common-form{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.common-form li{
	position: relative;
	margin: 5px 0;
	padding: 0;
	background-color: #f5f5f5;
	width: 351px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 3px;
}

ul.common-form li label{
	display: inline-block;
	width: 170px;
	vertical-align: middle;
	padding: 8px 15px;
}

ul.common-form li label i{
	font-size: 13px;
	vertical-align: middle;
	margin-top: -2px;
}

ul.common-form li input{
	width: 110px;
	text-align: right;
	background-color: white;
	border: none;
	outline: none;
	margin: 4px 0;
	padding: 5px 0 5px 7px;
}
ul.common-form li input.no-unit{
	width: 129px;
	padding-right: 7px;
	text-align: left;
}
ul.common-form li input:disabled{ background-color: #f0f0f0 }

ul.common-form li span.unit{
	position: absolute;
	width: 35px;
	margin: 4px 0;
	padding: 5px 0;
	right: 4px;
	background-color: white;
}

ul.common-form li.long{ width: 451px; }
ul.common-form li.long input{ width: 210px }
ul.common-form li.long input.no-unit{ width: 229px }
