@charset "utf-8";

section.common > h1{
	font-size: 30px;
	margin-top: -10px;
}

section.common > h2{
	position: relative;
}


section.last-btn{
	padding: 80px 0 25px;
	text-align: center;
}



/* index.html */
.home header{
	position: absolute;
	background-image: none;
}
.home header .mask{ display: none; }
.home header nav.gnb{ display: none; }
.home header .logo-wrap{ padding-top: 35px; }

.home section.main{
	position: relative;
	/*background-color: #138891;*/
	color: white;
	background-image: url('../image/bg.jpg');
	background-size: cover;
}

.home section.main .mask{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 136, 145, 0.9);
}
.home section.main .container{
	position: relative;
	top: 0;
	z-index: 2;
}

.home section.main .logo-wrap{
	padding-top: 35px;
}
.home section.main .logo{
	width: 185px;
	height: 36px;
	background-image: url('../image/logo.png');
	background-size: 185px auto;
}
.home section.main h1{
	font-family: 'Nanum Myeongjo', serif;
	font-size: 40px;
	padding: 126px 0 24px;
	margin: 0;
	font-weight: normal;
}
.home section.main p{
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 43px;
	font-size: 20px;
}
.home section.main button{
	margin-bottom: 60px;
}

.home section.common > h2{ padding-bottom: 20px; }
.home section.common > p{ font-size: 17px; }



/* learn/* */
.learn .s-tile{ cursor: default; }
.learn .s-tile:hover{ background-color: #e8e8e8; }



/* learn/blockchain-usages.html */
.learn section.common > h2.lined:before{
	display: block;
	position: absolute;
	content: "";
	width: 150px;
	height: 5px;
	background-color: #138891;
	top: -25px;
}

.learn section.common > h4{
	font-weight: normal;
	font-size: 18px;
	margin: 23px 0 8px;
}

.learn section.common ul li strong{
	display: inline-block;
	font-weight: normal;
	color: black;
}
.learn section.common ul li span.sub{
	font-weight: lighter;
	color: #585858;
}

.learn section.common ul.usage{
	margin: 0 0 30px;
	list-style: circle;
}
.learn section.common ul.usage li{
	padding: 5px;
	margin: 10px 0;
}
.learn section.common ul.usage li strong{ margin-bottom: 5px }


.learn section.common ul.coins{
	margin: 0 0 30px;
	padding: 0;
	list-style: none;
}

.learn section.common ul.coins a:hover li{ border-color: #ccc }	
.learn section.common ul.coins li{
	float: left;
	text-align: center;
	width: 150px;
	margin: 0 20px 0 0;
	padding: 15px;

	border: 2px solid #eee;
	border-radius: 10px;
	transition: all 0.5s;
	
}
.learn section.common ul.coins li strong{ margin-top: 5px; }

.learn section.last{
	text-align: center;
	border-top: 1px solid #f0f0f0;
	padding-top: 50px;
}
.learn section.last p{
	padding-bottom: 20px;
}