<section class="main completed">
	<div class="mask"></div>
	<div class="container">
		<h1>
			{{ settings.name }}의 ICO가 성공적으로 끝나
			{{ (settings.price * settings.icoNumber * 10000 / currencies[0].price) | number }}
			BTC를 유치했습니다.
		</h1>
		<p>
			환산치 {{ (settings.price * settings.icoNumber / 10000) | number:0 }}억 KRW의 투자금이 모일 것으로 예상되었으나,<br>
			BTC 가격 폭락으로 인해 현재 자본금은 {{ (settings.price * settings.icoNumber / 18000) | number:0 }}억 KRW 정도입니다.
		</p>
		<p>
			이제 자본금을 바탕으로 계속 코인을 발전시킬 수도 있고,<br>
			자본금을 가로챈 채 사라져 버릴 수도 있습니다.<br>
			어떻게 하시겠습니까?
		</p>
		<div>
			<button class="white-btn bordered">코인 발전시키기</button>
			<button class="white-btn bordered">잠수타기</button>
		</div>
	</div>
</section>

<section class="common container centered">
	<p>
		이상으로 가상 코인 제작 시뮬레이션이 완료되었습니다.
	</p>
	<p>
		BeCoinMaker는 건전한 ICO 문화가 형성되기를 기원합니다.
	</p>

	<p style="font-size: 14px; line-height: 1.5; padding: 70px 0 50px">
		*<br>
		ICO 진행 이후 일반 사용자는 받은 코인으로 1:1 거래를 할 수 있습니다.<br>
		거래소에 코인이 상장되면 공식적으로 코인을 다른 암호화폐나 현물 화폐로 교환할 수 있습니다.<br>
		주요 거래소 상장시 비상장 코인의 가격은 평균 5~10배 정도 오릅니다.
	</p>
</section>
